# Training Flair on HD Risk Data

In [55]:
import re
import numpy as np
import pandas as pd
from functools import reduce

In [71]:
#D:\FloridaBlue\hd-risk\data\CASED_CAD_indicator
data_folder = r'D:\FloridaBlue\hd-risk\data'
    
cad_train_ind = pd.read_csv(data_folder + r'\CASED_CAD_indicator\train.tsv', sep = '\t', header=None, index_col=0)
cad_dev_ind = pd.read_csv(data_folder + r'\CASED_CAD_indicator\dev.tsv', sep = '\t', header=None, index_col=0)
cad_test_ind = pd.read_csv(data_folder + r'\CASED_CAD_indicator\test.tsv', sep = '\t', header=None, index_col=0)

diab_train_ind = pd.read_csv(data_folder + r'\CASED_diabetes_indicator\train.tsv', sep = '\t', header=None, index_col=0)
diab_dev_ind = pd.read_csv(data_folder + r'\CASED_diabetes_indicator\dev.tsv', sep = '\t', header=None, index_col=0)
diab_test_ind = pd.read_csv(data_folder + r'\CASED_diabetes_indicator\test.tsv', sep = '\t', header=None, index_col=0)


hyperl_train_ind = pd.read_csv(data_folder + r'\CASED_hyperlipidemia_indicator\train.tsv', sep = '\t', header=None, index_col=0)
hyperl_dev_ind = pd.read_csv(data_folder + r'\CASED_hyperlipidemia_indicator\dev.tsv', sep = '\t', header=None, index_col=0)
hyperl_test_ind = pd.read_csv(data_folder + r'\CASED_hyperlipidemia_indicator\test.tsv', sep = '\t', header=None, index_col=0)

hypert_train_ind = pd.read_csv(data_folder + r'\CASED_hypertension_indicator\train.tsv', sep = '\t', header=None, index_col=0)
hypert_dev_ind = pd.read_csv(data_folder + r'\CASED_hypertension_indicator\dev.tsv', sep = '\t', header=None, index_col=0)
hypert_test_ind = pd.read_csv(data_folder + r'\CASED_hypertension_indicator\test.tsv', sep = '\t', header=None, index_col=0)

med_train_ind = pd.read_csv(data_folder + r'\CASED_medication_type1\train.tsv', sep = '\t', header=None, index_col=0)
med_dev_ind = pd.read_csv(data_folder + r'\CASED_medication_type1\dev.tsv', sep = '\t', header=None, index_col=0)
med_test_ind = pd.read_csv(data_folder + r'\CASED_medication_type1\test.tsv', sep = '\t', header=None, index_col=0)

obesity_train_ind = pd.read_csv(data_folder + r'\CASED_obese_indicator\train.tsv', sep = '\t', header=None, index_col=0)
obesity_dev_ind = pd.read_csv(data_folder + r'\CASED_obese_indicator\dev.tsv', sep = '\t', header=None, index_col=0)
obesity_test_ind = pd.read_csv(data_folder + r'\CASED_obese_indicator\test.tsv', sep = '\t', header=None, index_col=0)

smoker_train_ind = pd.read_csv(data_folder + r'\CASED_smoker_status\train.tsv', sep = '\t', header=None, index_col=0)
smoker_dev_ind = pd.read_csv(data_folder + r'\CASED_smoker_status\dev.tsv', sep = '\t', header=None, index_col=0)
smoker_test_ind = pd.read_csv(data_folder + r'\CASED_smoker_status\test.tsv', sep = '\t', header=None, index_col=0)

family_train_ind = pd.read_csv(data_folder + r'\CASED_family_hist_indicator\train.tsv', sep = '\t', header=None, index_col=0)
family_dev_ind = pd.read_csv(data_folder + r'\CASED_family_hist_indicator\dev.tsv', sep = '\t', header=None, index_col=0)
family_test_ind = pd.read_csv(data_folder + r'\CASED_family_hist_indicator\test.tsv', sep = '\t', header=None, index_col=0)

cols  = ['tag', 'scol', 'token']
cad_train_ind.columns = cols
cad_dev_ind.columns = cols
cad_test_ind.columns = [cols[-1]]

diab_train_ind.columns = cols
diab_dev_ind.columns = cols
diab_test_ind.columns = [cols[-1]]

hyperl_train_ind.columns = cols
hyperl_dev_ind.columns = cols
hyperl_test_ind.columns = [cols[-1]]

hypert_train_ind.columns = cols
hypert_dev_ind.columns = cols
hypert_test_ind.columns = [cols[-1]]

med_train_ind.columns = cols
med_dev_ind.columns = cols
med_test_ind.columns = [cols[-1]]

obesity_train_ind.columns = cols
obesity_dev_ind.columns = cols
obesity_test_ind.columns = [cols[-1]]

smoker_train_ind.columns = cols
smoker_dev_ind.columns = cols
smoker_test_ind.columns = [cols[-1]]

family_train_ind.columns = cols
family_dev_ind.columns = cols
family_test_ind.columns = [cols[-1]]

In [72]:
print (cad_train_ind.shape)

(535169, 3)

In [73]:
pd.set_option('display.max_rows', None)

In [74]:
cad_train_ind.isna().sum()

tag       0
scol      0
token    88
dtype: int64

### fill the missing values

In [75]:
cad_train_ind.fillna('NA', inplace=True)
cad_dev_ind.fillna('NA', inplace=True)
cad_test_ind.fillna('NA', inplace=True)

diab_train_ind.fillna('NA', inplace=True)
diab_dev_ind.fillna('NA', inplace=True)
diab_test_ind.fillna('NA', inplace=True)

hyperl_train_ind.fillna('NA', inplace=True)
hyperl_dev_ind.fillna('NA', inplace=True)
hyperl_test_ind.fillna('NA', inplace=True)

hypert_train_ind.fillna('NA', inplace=True)
hypert_dev_ind.fillna('NA', inplace=True)
hypert_test_ind.fillna('NA', inplace=True)

med_train_ind.fillna('NA', inplace=True)
med_dev_ind.fillna('NA', inplace=True)
med_test_ind.fillna('NA', inplace=True)

obesity_train_ind.fillna('NA', inplace=True)
obesity_dev_ind.fillna('NA', inplace=True)
obesity_test_ind.fillna('NA', inplace=True)

smoker_train_ind.fillna('NA', inplace=True)
smoker_dev_ind.fillna('NA', inplace=True)
smoker_test_ind.fillna('NA', inplace=True)

family_train_ind.fillna('NA', inplace=True)
family_dev_ind.fillna('NA', inplace=True)
family_test_ind.fillna('NA', inplace=True)

### label maps

In [76]:
cad_ind_labelmap = {0:'cad_event', 1:'cad_mention', 2:'cad_symptom', 3:'cad_test', 4:'other'}
cad_train_ind['tag'].replace(cad_ind_labelmap, inplace=True)
cad_dev_ind['tag'].replace(cad_ind_labelmap, inplace=True)

diab_ind_labelmap = {0:'diab_a1c', 1:'diab_glucose', 2:'diab_mention', 3:'other'}
diab_train_ind['tag'].replace(diab_ind_labelmap, inplace=True)
diab_dev_ind['tag'].replace(diab_ind_labelmap, inplace=True)

hyperl_ind_labelmap = {0:'high_ldl', 1:'high_chol', 2:'hyperl_mention', 3:'other'}
hyperl_train_ind['tag'].replace(hyperl_ind_labelmap, inplace=True)
hyperl_dev_ind['tag'].replace(hyperl_ind_labelmap, inplace=True)

hypert_ind_labelmap = {0:'high_bp', 1:'hypert_mention', 2:'other'}
hypert_train_ind['tag'].replace(hypert_ind_labelmap, inplace=True)
hypert_dev_ind['tag'].replace(hypert_ind_labelmap, inplace=True)

med_train_ind_labelmap = {0:'ace_inhibitor', 1:'arb', 2:'dpp4_inhibitor', 3:'glyset', 4:'aspirin', 5:'beta_blocker', 6:'ccb', \
                         7:'diuretic', 8:'ezetimbe', 9: 'fibrate', 10: 'insulin', 11:'metformin', 12:'niacin', 13:'nitrate', \
                         14: 'statin', 15:'sulfonylureas', 16: 'thiazolidinedione', 17: 'thienopyridine', 18: 'other'}
med_dev_ind_labelmap = {0:'ace_inhibitor', 1:'arb', 2:'aspirin', 3:'beta_blocker', 4:'ccb', \
                         5:'diuretic', 6:'ezetimbe', 7: 'fibrate', 8: 'insulin', 9:'metformin', 10:'niacin', 11:'nitrate', \
                         12: 'statin', 13:'sulfonylureas', 14: 'thiazolidinedione', 15: 'thienopyridine', 16: 'other'}

med_train_ind['tag'].replace(med_train_ind_labelmap, inplace=True)
med_dev_ind['tag'].replace(med_dev_ind_labelmap, inplace=True)

obesity_ind_labelmap = {0:'bmi', 1:'obesity_mention', 2:'other'}
obesity_train_ind['tag'].replace(obesity_ind_labelmap, inplace=True)
obesity_dev_ind['tag'].replace(obesity_ind_labelmap, inplace=True)


smoker_train_ind_labelmap = {0:'smoke_current', 1:'smoke_ever', 2:'smoke_never', 3:'smoke_past', 4: 'other', 5:'other'}
smoker_dev_ind_labelmap = {0:'smoke_current', 1:'smoke_never', 2:'smoke_past', 3: 'other', 4:'other'}

smoker_train_ind['tag'].replace(smoker_train_ind_labelmap, inplace=True)
smoker_dev_ind['tag'].replace(smoker_dev_ind_labelmap, inplace=True)

family_ind_labelmap = {0:'family_hist_hd', 1:'other'}
family_train_ind['tag'].replace(family_ind_labelmap, inplace=True)
family_dev_ind['tag'].replace(family_ind_labelmap, inplace=True)

In [77]:
def tagf(tag_list):
    ftoken = 'other'
    
    for tok in tag_list:
        if (tok != 'other'):
            ftoken = tok
    return ftoken

In [78]:
hyperl_train_ind['tag'].value_counts()

other             534606
hyperl_mention       450
high_ldl              83
high_chol             30
Name: tag, dtype: int64

In [79]:
dataf_train = [cad_train_ind[['token', 'tag']], diab_train_ind['tag'], hyperl_train_ind['tag'], hypert_train_ind['tag'], \
               med_train_ind['tag'], obesity_train_ind['tag'], smoker_train_ind['tag'], family_train_ind['tag']]
df_train = reduce(lambda left, right: pd.merge(left, right, left_index=True, right_index=True), dataf_train)

dataf_dev = [cad_dev_ind[['token', 'tag']], diab_dev_ind['tag'], hyperl_dev_ind['tag'], hypert_dev_ind['tag'], \
               med_dev_ind['tag'], obesity_dev_ind['tag'], smoker_dev_ind['tag'], family_dev_ind['tag']]
df_dev = reduce(lambda left, right: pd.merge(left, right, left_index=True, right_index=True), dataf_dev)

cols = ['token', 'tag_cad', 'tag_diab', 'tag_hyperl', 'tag_hypert', 'tag_med', 'tag_obesity', 'tag_smoker', 'tag_family']

df_train.columns = cols
df_dev.columns =cols

df_test = cad_test_ind

In [80]:
df_train.head(3)

,token,tag_cad,tag_diab,tag_hyperl,tag_hypert,tag_med,tag_obesity,tag_smoker,tag_family
0,,,,,,,,,
0,Record,other,other,other,other,other,other,other,other
1,date,other,other,other,other,other,other,other,other
2,:,other,other,other,other,other,other,other,other

In [81]:
df_dev.head(3)

,token,tag_cad,tag_diab,tag_hyperl,tag_hypert,tag_med,tag_obesity,tag_smoker,tag_family
0,,,,,,,,,
0,Record,other,other,other,other,other,other,other,other
1,date,other,other,other,other,other,other,other,other
2,:,other,other,other,other,other,other,other,other

In [82]:
df_test.head()

        token
0
0      Record
1        date
2           :
3  2069-04-07
4         Mr.

In [83]:
df_train['tag_singlemodel'] = df_train.apply(lambda x: tagf([x.tag_cad, x.tag_diab, x.tag_hyperl, x.tag_hypert, \
                                                        x.tag_med, x.tag_obesity, x.tag_smoker, x.tag_family]), axis=1)
df_dev['tag_singlemodel'] = df_dev.apply(lambda x: tagf([x.tag_cad, x.tag_diab, x.tag_hyperl, x.tag_hypert, \
                                                        x.tag_med, x.tag_obesity, x.tag_smoker, x.tag_family]), axis=1)

In [84]:
df_train.shape

(535169, 10)

In [85]:
df_dev.shape

(59320, 10)

In [86]:
df_test.shape

(384304, 1)

In [87]:
df_train['tag_singlemodel'].replace({'other':'O'}, inplace=True)
df_dev['tag_singlemodel'].replace({'other':'O'}, inplace=True)

In [88]:
df_train['tag_singlemodel'].value_counts()

O                    517484
cad_test               2007
cad_event              1654
diab_mention           1446
high_bp                1280
smoke_past              961
insulin                 871
hypert_mention          867
beta_blocker            848
cad_mention             827
aspirin                 715
statin                  651
diab_a1c                633
ace_inhibitor           544
smoke_never             533
hyperl_mention          450
cad_symptom             409
smoke_current           338
nitrate                 282
family_hist_hd          272
ccb                     271
metformin               268
obesity_mention         256
sulfonylureas           223
diab_glucose            219
diuretic                205
thienopyridine          177
arb                     155
high_ldl                 83
thiazolidinedione        51
smoke_ever               48
bmi                      43
fibrate                  41
high_chol                30
ezetimbe                 14
niacin                   10
dpp4_inhibitor            2
glyset                    1
Name: tag_singlemodel, dtype: int64

In [89]:
df_dev['tag_singlemodel'].value_counts()

O                    57051
cad_event              235
cad_test               234
diab_mention           190
high_bp                188
beta_blocker           145
smoke_past             117
insulin                117
hypert_mention         111
diab_a1c                98
aspirin                 97
statin                  95
cad_mention             94
ace_inhibitor           83
smoke_never             64
hyperl_mention          55
nitrate                 53
metformin               36
sulfonylureas           34
smoke_current           34
obesity_mention         26
ccb                     25
high_ldl                20
diuretic                19
cad_symptom             15
family_hist_hd          15
thienopyridine          15
arb                     14
thiazolidinedione       12
diab_glucose             9
high_chol                7
bmi                      7
niacin                   2
fibrate                  2
ezetimbe                 1
Name: tag_singlemodel, dtype: int64

In [90]:
train_tag_list = df_train['tag_singlemodel'].to_list()
train_token_list = df_train['token'].to_list()

dev_tag_list = df_dev['tag_singlemodel'].to_list()
dev_token_list = df_dev['token'].to_list()

test_token_list = df_test['token'].to_list()

In [91]:
def mod_traindev(tagl, tokenl):
    el = []
    for tag, token in zip(tagl, tokenl):
        el.append([token, tag])
        if(token == '.'):
            el.append([])
    return el

In [94]:
def mod_test(tokenl):
    el = []
    for token in tokenl:
        el.append([token])
        if (token == '.'):
            el.append([])
    return el

### adding blank spaces or line after tokens '.'

In [96]:
train_lol = mod_traindev(train_tag_list, train_token_list)
dev_lol = mod_traindev(dev_tag_list, dev_token_list)
test_lol = mod_test(test_token_list)

In [101]:
df_trainf = pd.DataFrame(train_lol, columns = ['token', 'tagf'])
df_devf = pd.DataFrame(dev_lol, columns = ['token', 'tagf'])
df_testf = pd.DataFrame(test_lol, columns = ['token'])

In [103]:
print (df_trainf.shape)
print (df_devf.shape)
print (df_testf.shape)

(564962, 2)
(62527, 2)
(406336, 1)

In [104]:
df_trainf.isna().sum()

token    29793
tagf     29793
dtype: int64

In [105]:
df_devf.isna().sum()

token    3207
tagf     3207
dtype: int64

In [106]:
df_testf.isna().sum()

token    22032
dtype: int64

In [107]:
df_trainf.to_csv('data/training/s1/train.txt', index=False, sep = '\t', header=None)
df_devf.to_csv('data/training/s1/dev.txt', index=False, sep = '\t', header=None)
df_testf.to_csv('data/training/s1/test.txt', index=False, sep = '\t', header=None)

In [2]:
# train = pd.read_csv(r'D:\FloridaBlue\hd-risk\heart-disease-risk-prediction-master\Code\Single_Model_DataFiles\train.tsv', index_col = 0, sep = '\t', header=None)
# dev = pd.read_csv(r'D:\FloridaBlue\hd-risk\heart-disease-risk-prediction-master\Code\Single_Model_DataFiles\dev.tsv', index_col = 0, sep = '\t', header=None)
# test = pd.read_csv(r'D:\FloridaBlue\hd-risk\heart-disease-risk-prediction-master\Code\Single_Model_DataFiles\test.tsv', index_col = 0, sep = '\t', header=None)
# cols = ['tag', 'scol', 'token']
# train.columns = cols
# dev.columns = cols

# test.columns = ['token']

In [3]:
# print (train.shape)
# print (test.shape)
# print (dev.shape)

In [4]:
# test.head()

In [5]:
# train.head()

In [6]:
# train['token'].fillna('NA', inplace=True)
# dev['token'].fillna('NA', inplace=True)
# test['token'].fillna('NA', inplace=True)

In [7]:
# train_tag_list = train['tag'].to_list()
# train_token_list = train['token'].to_list()

# dev_tag_list = dev['tag'].to_list()
# dev_token_list = dev['token'].to_list()

# test_token_list = test['token'].to_list()

In [8]:
# def mod_df(tagl, tokenl):
#     el = []
#     for tag,token in zip(tagl,tokenl):
#         el.append([token,tag])
#         if (token == '.'):
#             el.append([])
#     return el

In [35]:
def mod_df2(tokenl):
    el = []
    for token in tokenl:
        el.append([token])
        if (token == '.'):
            el.append([])
    return el

In [36]:
train_lol = mod_df(train_tag_list, train_token_list)
dev_lol = mod_df(dev_tag_list, dev_token_list)
test_lol = mod_df2(test_token_list)

In [40]:
train_df = pd.DataFrame(train_lol,columns = ['token', 'tag'])
dev_df = pd.DataFrame(dev_lol, columns = ['token', 'tag'])
test_df = pd.DataFrame(test_lol, columns = ['token'])

In [41]:
dev_df.head()

        token   tag
0      record  71.0
1        date  71.0
2           :  71.0
3  2104-01-30  71.0
4   neurology  71.0

In [42]:
train_df.head()

        token   tag
0      record  91.0
1        date  91.0
2           :  91.0
3  2067-11-24  91.0
4  huntington  91.0

In [43]:
test_df.head()

        token
0      record
1        date
2           :
3  2069-04-07
4         mr.

In [44]:
pd.set_option('max_rows',None)

In [46]:
dev_df.isna().sum()

token    2837
tag      2837
dtype: int64

In [47]:
train_df.isna().sum()

token    26930
tag      26930
dtype: int64

In [48]:
test_df.isna().sum()

token    19681
dtype: int64

In [12]:
train_df['tag'].head()

0    91.0
1    91.0
2    91.0
3    91.0
4    91.0
Name: tag, dtype: float64

In [13]:
train_df['tag'].value_counts()

91.0    514358
8.0       1860
1.0       1540
25.0      1120
89.0       961
16.0       718
28.0       712
15.0       676
57.0       664
40.0       655
3.0        636
41.0       621
10.0       551
88.0       533
68.0       532
31.0       448
86.0       338
6.0        331
17.0       272
90.0       269
83.0       234
22.0       226
23.0       218
60.0       218
46.0       217
71.0       178
4.0        173
48.0       160
24.0       160
42.0       159
12.0       158
9.0        147
27.0       137
35.0       135
65.0       135
58.0       131
80.0       131
69.0       111
2.0         99
11.0        82
67.0        82
7.0         78
59.0        76
43.0        68
66.0        65
13.0        61
19.0        57
14.0        52
76.0        50
30.0        49
87.0        48
45.0        48
61.0        40
29.0        37
82.0        37
72.0        36
79.0        36
39.0        33
18.0        30
49.0        29
54.0        28
38.0        27
20.0        26
5.0         18
26.0        18
85.0        17
0.0         15
36.0        15
47.0        14
52.0        13
78.0        10
62.0        10
32.0         9
70.0         8
55.0         7
64.0         7
44.0         6
56.0         6
81.0         6
73.0         6
37.0         5
21.0         4
63.0         3
74.0         2
51.0         2
50.0         2
75.0         1
77.0         1
84.0         1
34.0         1
33.0         1
53.0         1
Name: tag, dtype: int64

In [14]:
dev_df.head()

        token   tag
0      record  71.0
1        date  71.0
2           :  71.0
3  2067-11-24  71.0
4  huntington  71.0

In [15]:
dev_df['tag'].value_counts()

71.0    56655
8.0       217
1.0       203
24.0      151
36.0      122
69.0      117
27.0      102
14.0       96
35.0       92
10.0       88
15.0       88
47.0       86
3.0        81
56.0       65
68.0       64
30.0       42
23.0       37
21.0       36
67.0       34
58.0       31
57.0       30
50.0       27
2.0        26
70.0       26
31.0       26
53.0       25
65.0       24
55.0       24
40.0       23
22.0       19
49.0       18
9.0        17
19.0       16
16.0       15
32.0       14
48.0       13
42.0       13
63.0       12
38.0       12
28.0       12
4.0        11
37.0       11
11.0       10
60.0       10
12.0        9
51.0        9
6.0         9
26.0        8
64.0        7
13.0        6
0.0         6
7.0         6
17.0        5
41.0        4
54.0        4
20.0        4
62.0        3
33.0        3
29.0        3
59.0        3
61.0        2
43.0        2
5.0         2
66.0        2
18.0        2
34.0        2
52.0        2
39.0        2
44.0        1
25.0        1
45.0        1
46.0        1
Name: tag, dtype: int64

In [16]:
# train.iloc[0:10000][['token', 'tag']].to_csv('data/small_s1/train.txt', sep = '\t', index = False,header = None)
# dev.iloc[0:1000][['token', 'tag']].to_csv('data/small_s1/dev.txt', sep = '\t', index = False,header = None)

In [17]:
# train_df.to_csv('data/s1/train.txt', sep = '\t', index = False, header = True)
# dev_df.to_csv('data/s1/dev.txt', sep = '\t', index = False, header = True)

In [18]:
from flair.data import Corpus
from flair.datasets import ColumnCorpus

columns = {0: 'text', 1: 'ner'}

# this is the folder in which train, test and dev files reside
data_folder = r'data/s1'

# init a corpus using column format, data folder and the names of the train, dev and test files
corpus: Corpus = ColumnCorpus(data_folder, columns, train_file='train.txt', dev_file='dev.txt')

2021-06-15 17:45:53,821 Reading data from data\s1
2021-06-15 17:45:53,823 Train: data\s1\train.txt
2021-06-15 17:45:53,823 Dev: data\s1\dev.txt
2021-06-15 17:45:53,823 Test: None

In [19]:
print (len(corpus.train))

24237

In [20]:
print (len(corpus.dev))

3169